In [ ]:
import requests
import pandas as pd

In [ ]:
df = pd.DataFrame(data['Time Series (Daily)']).T

In [ ]:
import sqlalchemy

In [ ]:
db = sqlalchemy.create_engine('postgres://fpphpbogupwnhm:952f01f88ef026c4ecf6f8f19a8618c441b15ab55f2dc8f5a8d257c5152ec799@ec2-54-243-239-66.compute-1.amazonaws.com:5432/d830o61rpkt22a')

In [ ]:
conn = db.connect()

In [ ]:
conn.execute("CREATE TABLE test(num INTEGER)")

In [ ]:
conn.close()

In [ ]:
from datetime import date, timedelta, datetime

In [4]:
import os
import pandas as pd
import numpy as np
import requests
from datetime import datetime, timedelta


def get_ts_daily_adjusted(instr):
    r = requests.get('https://www.alphavantage.co/query', params={
        'function': 'TIME_SERIES_DAILY_ADJUSTED',
        'symbol': instr,
        'apikey': os.environ['ALPHA_VANTAGE_API'],
        'outputsize': 'full',  # compact
    })
    data = r.json()['Time Series (Daily)']
    df = pd.DataFrame(data)
    df = df.T.apply(pd.to_numeric)  # Transpose because dataset is wrongly aligned
    df.index = pd.to_datetime(df.index)
    return df


def working_data(instr, target, lower, upper):
    df = get_ts_daily_adjusted(instr)
    try:
        target_date = datetime.strptime(target, '%d/%m/%Y')
    except Exception as e:
        raise e

    lower_date = target_date - timedelta(days=lower)
    upper_date = target_date + timedelta(days=upper)

    lower_date_extreme = target_date - timedelta(days=(2 * lower + 1))
    upper_date_extreme = target_date + timedelta(days=(2 * upper))

    df = df.reindex(pd.date_range(lower_date_extreme, upper_date_extreme, freq='D')).fillna(method='bfill')
    df = df.apply(tag_relative_date, axis=1, args=(target_date, lower_date, upper_date))
    df['Return'] = df['5. adjusted close'].diff()
    df['Return (%)'] = df['5. adjusted close'].pct_change()
    return df



def cm_return(df):
    pass


def av_return(df):
    pass


def tag_relative_date(row, target, lower, upper):
    row['Relative Date'] = (row.name - target).days if lower <= row.name <= upper else np.nan
    return row

In [8]:
instr = 'CBA.AX'
target = '10/12/2012'
lower = 3
upper = 5

In [9]:
df = working_data(instr, target, lower, upper)

In [10]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Relative Date,Return,Return (%)
2012-11-15,58.2345,58.2942,57.8018,57.9659,38.2617,4393678.0,0.0,1.0,NaN,NaN,NaN
2012-11-16,58.2047,58.2643,57.6676,57.8366,38.1763,3179787.0,0.0,1.0,NaN,-0.0854,-0.002232
2012-11-17,58.2047,58.2643,57.6676,57.8366,38.1763,3179787.0,0.0,1.0,NaN,0.0000,0.000000
2012-11-18,58.2047,58.2643,57.6676,57.8366,38.1763,3179787.0,0.0,1.0,NaN,0.0000,0.000000
2012-11-19,58.0455,58.0555,57.4487,57.5979,38.0188,3200901.0,0.0,1.0,NaN,-0.1575,-0.004126
2012-11-20,57.7770,57.7770,57.4686,57.5681,37.9991,2548925.0,0.0,1.0,NaN,-0.0197,-0.000518
2012-11-21,57.8665,58.5229,57.7471,58.3538,38.5177,2660743.0,0.0,1.0,NaN,0.5186,0.013648
2012-11-22,58.5030,58.7219,58.2743,58.6323,38.7016,1978922.0,0.0,1.0,NaN,0.1839,0.004774
2012-11-23,58.6821,59.1296,58.6323,58.8312,38.8328,2626622.0,0.0,1.0,NaN,0.1312,0.003390
2012-11-24,58.6821,59.1296,58.6323,58.8312,38.8328,2626622.0,0.0,1.0,NaN,0.0000,0.000000
2012-11-25,58.6821,59.1296,58.6323,58.8312,38.8328,2626622.0,0.0,1.0,NaN,0.0000,0.000000
2012-11-26,58.7815,59.2192,58.4434,58.9009,38.8789,2859942.0,0.0,1.0,NaN,0.0461,0.001187
2012-11-27,58.8810,58.9108,58.6622,58.6622,38.7213,3164753.0,0.0,1.0,NaN,-0.1576,-0.004054
2012-11-28,58.6920,59.2092,58.6920,59.1197,39.0233,3396786.0,0.0,1.0,-12.0,0.3020,0.007799
2012-11-29,59.3286,59.6468,59.1893,59.3683,39.1874,17129169.0,0.0,1.0,-11.0,0.1641,0.004205
2012-11-30,59.5474,60.5519,59.5076,60.4823,39.9227,4986963.0,0.0,1.0,-10.0,0.7353,0.018764
2012-12-01,59.5474,60.5519,59.5076,60.4823,39.9227,4986963.0,0.0,1.0,-9.0,0.0000,0.000000
2012-12-02,59.5474,60.5519,59.5076,60.4823,39.9227,4986963.0,0.0,1.0,-8.0,0.0000,0.000000
2012-12-03,60.2436,60.9995,60.0447,60.1740,39.7192,3225168.0,0.0,1.0,-7.0,-0.2035,-0.005097
2012-12-04,59.9253,60.9896,59.9253,60.7509,40.1000,3472713.0,0.0,1.0,-6.0,0.3808,0.009587
2012-12-05,60.8304,60.9498,59.9751,60.0347,39.6272,3269019.0,0.0,1.0,-5.0,-0.4728,-0.011791
2012-12-06,60.3729,60.7707,60.2834,60.5519,39.9686,2438818.0,0.0,1.0,-4.0,0.3414,0.008615
2012-12-07,60.4326,60.9299,60.4326,60.5718,39.9818,2091533.0,0.0,1.0,-3.0,0.0132,0.000330
2012-12-08,60.4326,60.9299,60.4326,60.5718,39.9818,2091533.0,0.0,1.0,-2.0,0.0000,0.000000
2012-12-09,60.4326,60.9299,60.4326,60.5718,39.9818,2091533.0,0.0,1.0,-1.0,0.0000,0.000000
2012-12-10,60.5121,60.9597,60.3729,60.9597,40.2378,2114849.0,0.0,1.0,0.0,0.2560,0.006403
2012-12-11,61.1586,61.2879,60.8702,60.8702,40.1787,2694376.0,0.0,1.0,1.0,-0.0591,-0.001469
2012-12-12,60.9199,61.1885,60.7111,60.9498,40.2313,2578401.0,0.0,1.0,2.0,0.0526,0.001309
2012-12-13,61.0592,61.5465,60.9796,61.3277,40.4807,3195686.0,0.0,1.0,3.0,0.2494,0.006199
2012-12-14,61.0592,61.2482,60.9299,60.9597,40.2378,2164433.0,0.0,1.0,4.0,-0.2429,-0.006000
2012-12-15,61.0592,61.2482,60.9299,60.9597,40.2378,2164433.0,0.0,1.0,5.0,0.0000,0.000000
2012-12-16,61.0592,61.2482,60.9299,60.9597,40.2378,2164433.0,0.0,1.0,NaN,0.0000,0.000000
2012-12-17,61.2482,61.4968,61.0592,61.1189,40.3429,3238337.0,0.0,1.0,NaN,0.1051,0.002612
2012-12-18,61.2681,61.3178,60.8304,60.9995,40.2641,3420626.0,0.0,1.0,NaN,-0.0788,-0.001953
2012-12-19,61.0293,61.1785,60.7409,61.1785,40.3822,5948454.0,0.0,1.0,NaN,0.1181,0.002933
2012-12-20,61.4073,61.9444,61.3476,61.6659,40.7040,21761297.0,0.0,1.0,NaN,0.3218,0.007969

In [ ]:
target_date = datetime.strptime(target, '%d/%m/%Y')

In [ ]:
target_date = datetime.strptime(target, '%d/%m/%Y')
lower_date = target_date - timedelta(days=lower)
upper_date = target_date + timedelta(days=upper)

lower_date_extreme = target_date - timedelta(days=(2*lower + 1))
upper_date_extreme = target_date + timedelta(days=(2*upper))

In [ ]:
df = get_ts_daily_adjusted(instr)

In [ ]:
df.index = pd.to_datetime(df.index)

In [ ]:
# df = df.loc[(df.index >= lower_date_extreme) & (df.index <= upper_date_extreme)]

In [ ]:
df = df.reindex(pd.date_range(lower_date_extreme, upper_date_extreme, freq='D')).fillna(method='bfill')

In [ ]:
df

In [ ]:
df = df.apply(tag_relative_date, axis=1, args=(target_date, lower_date, upper_date))

In [ ]:
df['Return'] = df['5. adjusted close'].diff()

In [ ]:
df['Return (%)'] = df['5. adjusted close'].pct_change()

In [ ]:
df