In [ ]:
import requests
import pandas as pd

In [ ]:
df = pd.DataFrame(data['Time Series (Daily)']).T

In [ ]:
import sqlalchemy

In [ ]:
db = sqlalchemy.create_engine('postgres://fpphpbogupwnhm:952f01f88ef026c4ecf6f8f19a8618c441b15ab55f2dc8f5a8d257c5152ec799@ec2-54-243-239-66.compute-1.amazonaws.com:5432/d830o61rpkt22a')

In [ ]:
conn = db.connect()

In [ ]:
conn.execute("CREATE TABLE test(num INTEGER)")

In [ ]:
conn.close()

In [ ]:
from datetime import date, timedelta, datetime

In [1]:
import os
import pandas as pd
import numpy as np
import requests
from datetime import datetime, timedelta


def get_ts_daily_adjusted(instr):
    r = requests.get('https://www.alphavantage.co/query', params={
        'function': 'TIME_SERIES_DAILY',  # Don't need their adjusted after all
        'symbol': instr,
        'apikey': os.environ['ALPHA_VANTAGE_API'],
        'outputsize': 'full',  # Alternative: compact
    })
    data = r.json()['Time Series (Daily)']
    df = pd.DataFrame.from_dict(data, orient='index')
    df = df.apply(pd.to_numeric)
    df.index = pd.to_datetime(df.index)
    return df


def working_data(instr, target, lower, upper):
    df = get_ts_daily_adjusted(instr)
    try:
        target_date = datetime.strptime(target, '%d/%m/%Y')
    except Exception as e:
        raise e

    lower_date = target_date - timedelta(days=lower)
    upper_date = target_date + timedelta(days=upper)

    lower_date_extreme = target_date - timedelta(days=(2 * lower + 1))
    upper_date_extreme = target_date + timedelta(days=(2 * upper))

    df = df.reindex(pd.date_range(lower_date_extreme, upper_date_extreme, freq='D')).fillna(method='bfill')
#     df = df[(df.index >= lower_date_extreme) & (df.index <= upper_date_extreme)]
    df = df.apply(tag_relative_date, axis=1, args=(target_date, lower_date, upper_date))
#     df['Return'] = df['5. adjusted close'].diff()
#     df['Return (%)'] = df['5. adjusted close'].pct_change()
    df['Return'] = df['4. close'].diff()
    df['Return (%)'] = df['4. close'].pct_change()
    return df



def cm_return(df):
    pass


def av_return(df):
    pass


def tag_relative_date(row, target, lower, upper):
    row['Relative Date'] = (row.name - target).days if lower <= row.name <= upper else np.nan
    return row

In [3]:
instr = 'ABP.AX'
target = '10/12/2012'
lower = 3
upper = 5

In [16]:
r = requests.get('https://www.alphavantage.co/query', params={
        'function': 'TIME_SERIES_DAILY',
        'symbol': instr,
        'apikey': os.environ['ALPHA_VANTAGE_API'],
        'outputsize': 'compact',  # compact
    })

In [13]:
%timeit get_ts_daily_adjusted('ABP.AX')

4.85 s ± 1.02 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [19]:
df = working_data(instr, target, lower, upper)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
%timeit working_data(instr, target, lower, upper)

4.57 s ± 945 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
%timeit working_data(instr, target, lower, upper)

4.74 s ± 925 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [22]:
df[['4. close', 'Relative Date', 'Return', 'Return (%)']]

            4. close  Relative Date  Return  Return (%)
2012-12-03    2.0122            NaN     NaN         NaN
2012-12-04    2.0122            NaN  0.0000    0.000000
2012-12-05    2.0420            NaN  0.0298    0.014810
2012-12-06    2.0420            NaN  0.0000    0.000000
2012-12-09    2.0122           -1.0 -0.0298   -0.014594
2012-12-10    2.0420            0.0  0.0298    0.014810
2012-12-11    2.0620            1.0  0.0200    0.009794
2012-12-12    2.0620            2.0  0.0000    0.000000
2012-12-13    2.1018            3.0  0.0398    0.019302
2012-12-16    2.1516            NaN  0.0498    0.023694
2012-12-17    2.1217            NaN -0.0299   -0.013897
2012-12-18    2.1416            NaN  0.0199    0.009379
2012-12-19    2.1516            NaN  0.0100    0.004669
2012-12-20    2.1416            NaN -0.0100   -0.004648

In [10]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Relative Date,Return,Return (%)
2012-12-03,2.0321,2.0371,2.0122,2.0122,1.4538,290924.0,0.0,1.0,NaN,NaN,NaN
2012-12-04,2.0122,2.0420,2.0122,2.0122,1.4538,381825.0,0.0,1.0,NaN,0.0000,0.000000
2012-12-05,2.0321,2.0420,2.0221,2.0420,1.4754,331801.0,0.0,1.0,NaN,0.0216,0.014858
2012-12-06,2.0420,2.0470,2.0221,2.0420,1.4754,311761.0,0.0,1.0,NaN,0.0000,0.000000
2012-12-07,2.0420,2.0420,2.0122,2.0122,1.4538,263228.0,0.0,1.0,-3.0,-0.0216,-0.014640
2012-12-08,2.0420,2.0420,2.0122,2.0122,1.4538,263228.0,0.0,1.0,-2.0,0.0000,0.000000
2012-12-09,2.0420,2.0420,2.0122,2.0122,1.4538,263228.0,0.0,1.0,-1.0,0.0000,0.000000
2012-12-10,2.0122,2.0420,2.0122,2.0420,1.4754,209039.0,0.0,1.0,0.0,0.0216,0.014858
2012-12-11,2.0620,2.0620,2.0271,2.0620,1.4898,584883.0,0.0,1.0,1.0,0.0144,0.009760
2012-12-12,2.0719,2.0819,2.0520,2.0620,1.4898,582559.0,0.0,1.0,2.0,0.0000,0.000000
2012-12-13,2.0719,2.1018,2.0420,2.1018,1.5185,1844954.0,0.0,1.0,3.0,0.0287,0.019264
2012-12-14,2.2413,2.2911,2.1217,2.1516,1.5545,734027.0,0.0,1.0,4.0,0.0360,0.023708
2012-12-15,2.2413,2.2911,2.1217,2.1516,1.5545,734027.0,0.0,1.0,5.0,0.0000,0.000000
2012-12-16,2.2413,2.2911,2.1217,2.1516,1.5545,734027.0,0.0,1.0,NaN,0.0000,0.000000
2012-12-17,2.1416,2.1516,2.0968,2.1217,1.5329,552710.0,0.0,1.0,NaN,-0.0216,-0.013895
2012-12-18,2.1317,2.2213,2.1118,2.1416,1.5473,715654.0,0.0,1.0,NaN,0.0144,0.009394
2012-12-19,2.1616,2.1616,2.1416,2.1516,1.5545,993496.0,0.0,1.0,NaN,0.0072,0.004653
2012-12-20,2.1516,2.1715,2.1416,2.1416,1.5473,10400922.0,0.0,1.0,NaN,-0.0072,-0.004632