In [2]:
import requests
import pandas as pd

In [36]:
df = pd.DataFrame(data['Time Series (Daily)']).T

In [42]:
import sqlalchemy

In [55]:
db = sqlalchemy.create_engine('postgres://fpphpbogupwnhm:952f01f88ef026c4ecf6f8f19a8618c441b15ab55f2dc8f5a8d257c5152ec799@ec2-54-243-239-66.compute-1.amazonaws.com:5432/d830o61rpkt22a')

In [56]:
conn = db.connect()

In [53]:
conn.execute("CREATE TABLE test(num INTEGER)")

ProgrammingError: (psycopg2.ProgrammingError) relation "test" already exists
 [SQL: 'CREATE TABLE test(num INTEGER)'] (Background on this error at: http://sqlalche.me/e/f405)

In [54]:
conn.close()

In [71]:
import os
import pandas as pd
import requests

def get_ts_daily_adjusted(instr):
    r = requests.get('https://www.alphavantage.co/query', params={
        'function': 'TIME_SERIES_DAILY_ADJUSTED',
        'symbol': instr,
        'apikey': os.environ['ALPHA_VANTAGE_API'],
        'outputsize': 'full', # full
    })
    data = r.json()['Time Series (Daily)']
    df = pd.DataFrame(data)
    return df.T  # Need to transpose to make it look like a real dataset lmao


def cm_return(df):
    pass

def av_return(df):
    pass

def tag_relative_date(row, target, lower, upper):
    row['Relative Date'] = (row.name - target).days if lower <= row.name <= upper else ''
    return row

In [33]:
from datetime import date, timedelta, datetime

In [60]:
instr = 'CBA.AX'
target = '10/12/2012'
upper = 5
lower = 3

In [61]:
target_date = datetime.strptime(target, '%d/%m/%Y')

In [72]:
lower_date = target_date - timedelta(days=lower)
upper_date = target_date + timedelta(days=upper)

lower_date_extreme = target_date - timedelta(days=(2*lower + 1))
upper_date_extreme = target_date + timedelta(days=(2*upper))

In [73]:
df = get_ts_daily_adjusted(instr)

In [74]:
df.index = pd.to_datetime(df.index)

In [75]:
df.index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-16',
               ...
               '2018-02-25', '2018-02-26', '2018-02-27', '2018-02-28',
               '2018-03-01', '2018-03-04', '2018-03-05', '2018-03-06',
               '2018-03-07', '2018-03-08'],
              dtype='datetime64[ns]', length=4637, freq=None)

In [76]:
df = df.loc[(df.index >= lower_date_extreme) & (df.index <= upper_date_extreme)]

In [82]:
df.reindex(pd.date_range(lower_date_extreme, upper_date_extreme, freq='D')).fillna(method='bfill')

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2012-12-03,60.2436,60.9995,60.0447,60.1740,39.7192,3225168,0.0000,1.0000
2012-12-04,59.9253,60.9896,59.9253,60.7509,40.1000,3472713,0.0000,1.0000
2012-12-05,60.8304,60.9498,59.9751,60.0347,39.6272,3269019,0.0000,1.0000
2012-12-06,60.3729,60.7707,60.2834,60.5519,39.9686,2438818,0.0000,1.0000
2012-12-07,60.4326,60.9299,60.4326,60.5718,39.9818,2091533,0.0000,1.0000
2012-12-08,60.4326,60.9299,60.4326,60.5718,39.9818,2091533,0.0000,1.0000
2012-12-09,60.4326,60.9299,60.4326,60.5718,39.9818,2091533,0.0000,1.0000
2012-12-10,60.5121,60.9597,60.3729,60.9597,40.2378,2114849,0.0000,1.0000
2012-12-11,61.1586,61.2879,60.8702,60.8702,40.1787,2694376,0.0000,1.0000
2012-12-12,60.9199,61.1885,60.7111,60.9498,40.2313,2578401,0.0000,1.0000
2012-12-13,61.0592,61.5465,60.9796,61.3277,40.4807,3195686,0.0000,1.0000
2012-12-14,61.0592,61.2482,60.9299,60.9597,40.2378,2164433,0.0000,1.0000
2012-12-15,61.0592,61.2482,60.9299,60.9597,40.2378,2164433,0.0000,1.0000
2012-12-16,61.0592,61.2482,60.9299,60.9597,40.2378,2164433,0.0000,1.0000
2012-12-17,61.2482,61.4968,61.0592,61.1189,40.3429,3238337,0.0000,1.0000
2012-12-18,61.2681,61.3178,60.8304,60.9995,40.2641,3420626,0.0000,1.0000
2012-12-19,61.0293,61.1785,60.7409,61.1785,40.3822,5948454,0.0000,1.0000
2012-12-20,61.4073,61.9444,61.3476,61.6659,40.7040,21761297,0.0000,1.0000

In [67]:
df.index

DatetimeIndex(['2012-12-03', '2012-12-04', '2012-12-05', '2012-12-06',
               '2012-12-09', '2012-12-10', '2012-12-11', '2012-12-12',
               '2012-12-13', '2012-12-16', '2012-12-17', '2012-12-18',
               '2012-12-19', '2012-12-20'],
              dtype='datetime64[ns]', freq=None)

In [77]:
df.apply(tag_relative_date, axis=1, args=(target_date, lower_date, upper_date))

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient,Relative Date
2012-12-03,60.2436,60.9995,60.0447,60.1740,39.7192,3225168,0.0000,1.0000,
2012-12-04,59.9253,60.9896,59.9253,60.7509,40.1000,3472713,0.0000,1.0000,
2012-12-05,60.8304,60.9498,59.9751,60.0347,39.6272,3269019,0.0000,1.0000,
2012-12-06,60.3729,60.7707,60.2834,60.5519,39.9686,2438818,0.0000,1.0000,
2012-12-09,60.4326,60.9299,60.4326,60.5718,39.9818,2091533,0.0000,1.0000,-1
2012-12-10,60.5121,60.9597,60.3729,60.9597,40.2378,2114849,0.0000,1.0000,0
2012-12-11,61.1586,61.2879,60.8702,60.8702,40.1787,2694376,0.0000,1.0000,1
2012-12-12,60.9199,61.1885,60.7111,60.9498,40.2313,2578401,0.0000,1.0000,2
2012-12-13,61.0592,61.5465,60.9796,61.3277,40.4807,3195686,0.0000,1.0000,3
2012-12-16,61.0592,61.2482,60.9299,60.9597,40.2378,2164433,0.0000,1.0000,
2012-12-17,61.2482,61.4968,61.0592,61.1189,40.3429,3238337,0.0000,1.0000,
2012-12-18,61.2681,61.3178,60.8304,60.9995,40.2641,3420626,0.0000,1.0000,
2012-12-19,61.0293,61.1785,60.7409,61.1785,40.3822,5948454,0.0000,1.0000,
2012-12-20,61.4073,61.9444,61.3476,61.6659,40.7040,21761297,0.0000,1.0000,